.App {
  text-align: center;
  height: 100%;
}

.App-header {
  opacity: 0.8;
  font-size: 128px;
}

.Button {
  opacity: 0.75;
  cursor: pointer;
}

.Gold {
  font-size: 24px;
  font-weight: bold;
}

.Country {
  font-size: 24px;
  font-weight: bold;
}