.App {
  text-align: center;
  height: 100%;
}

.App-header {
  opacity: 0.8;
  width: 100%;
  background-color: gray;
}

.header-text {
  font-size: 64px;
  font-weight: bold;
}

.Button {
  opacity: 0.75;
  cursor: pointer;
}

.Gold {
  font-size: 24px;
  font-weight: bold;
}

.Country {
  font-size: 24px;
  font-weight: bold;
}

/* .trash {
  position: absolute;
  right: 0px;
} */